<p><span style="color: #aaa"><%= @spareyards.count %> desguaces encontrados</span></p>

<%= paginate @spareyards %>  

<ul>
<% @spareyards.each do |spareyard| %>
    <li>
        <div class="list_item">
            <span class="title">
                <%= link_to spareyard.name, spareyard %>
            </span>
        </div>
    </li>
<% end %>
</ul>
