<p><span style="color: #aaa"><%= @spareyards.count %> desguaces encontrados</span></p>

<%= paginate @spareyards %>  

<ul>
<% @spareyards.each do |spareyard| %>
    <li>
        <div class="list_item">
            <span class="title">
                <%= link_to spareyard.name, spareyard %>
            </span>
        </div>
    </li>
<% end %>
</ul>

<% # link_to 'Show', spareyard %>
<% # link_to 'Edit', edit_spareyard_path(spareyard) %>
<% # link_to 'Destroy', spareyard, confirm: 'Are you sure?', method: :delete %>
<% # link_to 'New Spareyard', new_spareyard_path %>
