<div class="item">
    <span class="title"><%= @spareyard.name %></span>
    <span class="address"><%= @spareyard.address %></span>
    <span class="tel">Teléfono: <span style="display: inline; color: blue"><%= @spareyard.telephone %></span></span>
</div>

<%= gmaps({
        "map_options" => {"auto_zoom" => false, "zoom" => 14 },
        "markers" => {"data" => @map }
    })
%>
