<br/>
<h1>Acerca de nosotros</h1>

<p><b>BrumBrum</b> es un proyecto que nace de una idea presentada en el 
<a href="http://galicia.startupweekend.org/2012/03/08/y-el-ganador-de-startup-weekend-galicia-2012-es/">Startup Weekend Galicia</a> en 2012 
por Brais Comesaña.</p>

<p>Desesperado por la búsqueda de un recambio por varios desguaces de Vigo y alrededores, Brais se planteó la posibilidad de crear una
aplicación para móviles que permitiese localizar una pieza de automóvil en distintos desguaces, cómodamente, sin necesidad de llamar por
teléfono o desplazarse.</p>

<p>De esa idea surge <b>BrumBrum</b>. Nuestro objetivo es conectar el mundo físico de los desguaces con el mundo de internet. De momento 
<b>BrumBrum</b> solamente ofrece un directorio de desguaces de España. Nuestro objetivo final, que encontrar un encontrar un recambio en un desguace sea 
tan fácil como encontrar algo en Google.</p>

<p>BrumBrum son:</p>
<ul>
    <li><a href="">Andrea Rodriguez</a></li>
    <li><a href="">Brais Comeseaña</a></li>
    <li><a href="">Diego Pino</a></li>
    <li><a href="">Gonzalo</a></li>
    <li><a href="">Iago Pastoriza</a></li>
</ul>
