<br/>
<h2>Buscar un desguace:</h2>
<br/>
<center><img src="/assets/mapa-espana.png" usemap="#mapa-espana" /></center>

<map id="mapa-espana">
    <area shape="poly" coords="127,140,134,134,140,122,150,111,155,108,159,112,157,119,167,135,165,139,170,142,166,148,155,148,149,152,149,143,140,138" href="/spareyards?location=Madrid" alt="Madrid" />
    <area shape="poly" coords="197,108,200,107,207,111,211,118,212,126,208,128,205,134,200,129,192,125,192,128,185,131,179,135,177,141,173,144,166,140,167,133,158,119,159,113,155,107,163,103,174,102,185,109" href="/spareyards?location=Guadalajara" alt="Guadalajara" />
    <area shape="rect" coords="95,300,106,314" href="/spareyards?location=ceuta" alt="Ceuta" />
    <area shape="rect" coords="166,316,178,333" href="/spareyards?location=Melilla" alt="Melilla" />
    <area shape="rect" coords="227,290,278,334" href="/spareyards?location=Santa Cruz de Tenerife" alt="Santa Cruz de Tenerife" />
    <area shape="rect" coords="282,286,341,334" href="/spareyards?location=Las Palmas" alt="Las Palmas" />
    <area shape="rect" coords="278,143,344,203" href="/spareyards?location=Baleares" alt="Baleares" />
    <area shape="poly" coords="165,269,170,263,171,255,176,249,179,253,184,243,189,239,193,225,200,228,200,236,209,245,207,252,203,263,195,270,188,264,181,272" href="/spareyards?location=Almería" alt="Almería" />
    <area shape="poly" coords="194,226,191,222,194,216,199,211,207,209,213,210,217,198,223,196,228,201,226,208,228,210,229,220,235,226,234,232,240,236,230,239,221,239,210,244,199,237,199,227" href="/spareyards?location=Murcia" alt="Murcia" />
    <area shape="poly" coords="173,170,173,163,170,156,168,148,168,142,173,144,180,135,192,127,192,124,210,140,216,143,218,141,225,147,221,158,215,164,214,171,204,176,193,176,180,174" href="/spareyards?location=Cuenca" alt="Cuenca" />
    <area shape="poly" coords="141,164,134,167,128,166,119,171,109,165,111,158,104,154,104,144,111,142,122,139,129,139,147,142,148,152,168,148,174,162,174,169,165,168,153,175,139,171,144,165" href="/spareyards?location=Toledo" alt="Toledo" />
    <area shape="poly" coords="106,144,103,139,98,140,95,136,100,131,103,132,110,122,112,114,112,109,122,110,132,124,137,125,135,132,127,139" href="/spareyards?location=Avila" alt="Avila" />
    <area shape="poly" coords="138,125,133,124,122,108,129,102,144,92,149,95,155,92,165,102,152,107" href="/spareyards?location=Segovia" alt="Segovia" />
    <area shape="poly" coords="166,103,157,92,165,82,178,76,188,73,197,77,203,77,206,88,199,90,200,95,197,97,195,103,196,108,187,109,176,102" href="/spareyards?location=Soria" alt="Soria"/>
    <area shape="poly" coords="113,195,123,171,130,167,139,165,139,172,152,176,166,167,179,174,178,204,134,210" href="/spareyards?location=Ciudad Real" alt="Ciudad Real" />
    <area shape="poly" coords="54,215,47,206,49,196,57,182,50,175,62,172,63,179,80,182,114,169,121,174,114,195,96,206,98,212,93,217,81,222" href="/spareyards?location=Badajoz" alt="Badajoz" />
    <area shape="poly" coords="123,251,110,233,102,237,102,228,96,216,100,213,98,207,113,196,134,209,137,218,137,232,141,244,132,250" href="/spareyards?location=C&oacute;rdoba" alt="C&oacute;rdoba" />
    <area shape="poly" coords="142,245,156,238,169,237,186,216,181,204,135,211,139,217,137,230" href="/spareyards?location=Ja&eacute;n" alt="Ja&eacute;n" />
    <area shape="poly" coords="191,223,186,219,186,211,180,201,180,176,205,177,213,172,223,175,222,183,223,188,229,187,229,198,218,197,213,208,200,210" href="/spareyards?location=Albacete" alt="Albacete" />
    <area shape="poly" coords="147,269,147,265,132,258,132,251,155,239,170,238,185,217,192,224,189,237,183,246,179,252,176,248,171,258,167,269,157,271" href="/spareyards?location=Granada" alt="Granada" />
    <area shape="poly" coords="70,263,74,242,69,234,78,228,78,220,55,215,48,220,39,235,42,249,52,248" href="/spareyards?location=Huelva" alt="Huelva" />
    <area shape="poly" coords="70,260,79,263,108,260,122,251,110,234,102,238,102,228,96,218,77,220,77,230,70,234,75,243" href="/spareyards?location=Sevilla" alt="Sevilla"/>
    <area shape="poly" coords="95,295,85,288,76,278,71,267,71,261,101,258,108,262,101,273,103,283,101,289" href="/spareyards?location=C&aacute;diz" alt="C&aacute;diz" />
    <area shape="poly" coords="103,284,102,272,107,260,122,252,130,250,132,258,147,269,132,270,125,281" href="/spareyards?location=M&aacute;laga" alt="M&aacute;laga" />
    <area shape="poly" coords="236,226,249,204,264,195,253,188,241,191,241,196,232,193,229,200,229,211,229,219" href="/spareyards?location=Alicante" alt="Alicante" />
    <area shape="poly" coords="254,188,242,192,241,196,232,193,230,198,230,187,223,187,222,183,223,175,214,172,216,167,223,159,225,150,237,157,249,159,247,168" href="/spareyards?location=Valencia" alt="Valencia" />
    <area shape="poly" coords="231,153,239,141,247,134,246,125,250,120,260,121,269,127,251,160" href="/spareyards?location=Castell&oacute;n" alt="Castell&oacute;n" />
    <area shape="poly" coords="50,172,47,167,45,160,58,160,61,146,58,139,70,139,78,131,87,138,95,137,99,139,106,143,105,155,111,158,109,165,113,169,80,181,62,180,61,171" href="/spareyards?location=C&aacute;ceres" alt="C&aacute;ceres" />
    <area shape="poly" coords="204,134,208,128,213,125,211,115,223,108,234,107,241,100,250,107,261,109,261,122,249,120,247,127,247,132,233,152,224,151,219,141" href="/spareyards?location=Teruel" alt="Teruel" />
    <area shape="poly" coords="60,137,65,118,63,110,75,102,88,106,93,103,104,106,108,103,113,109,111,125,104,131,99,129,95,136,87,137,77,131,70,140" href="/spareyards?location=Salamanca" alt="Salamanca" />
    <area shape="poly" coords="203,76,211,78,216,74,215,61,226,50,230,64,230,77,251,96,263,95,264,102,259,108,249,107,241,99,234,108,210,115,208,110,200,108,198,108,194,103,199,96,200,90,206,87" href="/spareyards?location=Zaragoza" alt="Zaragoza" />
    <area shape="poly" coords="264,95,265,90,262,85,271,71,274,52,266,48,249,48,236,45,230,39,228,51,229,64,230,77,252,97" href="/spareyards?location=Huesca" alt="Huesca" />
    <area shape="poly" coords="269,127,280,121,275,118,281,110,299,103,291,88,280,97,266,99,259,108,259,121" href="/spareyards?location=Tarragona" alt="Tarragona" />
    <area shape="poly" coords="265,100,263,97,266,91,262,86,272,70,274,53,268,48,268,44,280,47,290,47,291,55,300,55,302,61,300,63,297,82,292,81,292,89,280,98" href="/spareyards?location=L&eacute;rida" alt="L&eacute;rida" />
    <area shape="poly" coords="299,104,293,90,293,81,298,81,302,61,307,61,307,67,312,66,321,69,318,80,330,82,314,100" href="/spareyards?location=Barcelona" alt="Barcelona" />
    <area shape="poly" coords="331,83,342,74,338,63,344,62,336,53,323,58,318,56,307,58,300,54,303,60,306,60,306,65,320,68,319,80" href="/spareyards?location=Gerona" alt="Gerona" />
    <area shape="poly" coords="113,108,109,104,108,95,108,85,106,73,108,67,114,66,118,71,115,79,133,84,141,84,144,92,123,109" href="/spareyards?location=Valladolid" alt="Valladolid" />
    <area shape="poly" coords="113,67,117,59,120,45,124,40,132,40,139,48,137,54,138,59,139,71,146,76,139,84,116,79,120,72" href="/spareyards?location=Palencia" alt="Palencia" />
    <area shape="poly" coords="144,93,141,83,146,76,140,71,138,55,139,48,146,48,148,43,144,42,155,36,165,36,169,39,168,42,162,42,171,51,169,60,168,70,172,75,164,84,157,92" href="/spareyards?location=Burgos" alt="Burgos" />
    <area shape="poly" coords="171,52,188,59,206,68,203,72,203,76,195,77,190,73,168,81,172,75,169,70" href="/spareyards?location=La Rioja" alt="La Rioja" />
    <area shape="poly" coords="69,64,67,57,62,56,71,40,81,37,93,37,120,31,124,38,120,44,114,66,108,67,108,75" href="/spareyards?location=Le&oacute;n" alt="Le&oacute;n" />
    <area shape="poly" coords="73,101,81,90,75,87,73,76,62,76,60,69,71,66,107,76,110,100,103,106,93,103,87,106" href="/spareyards?location=Zamora" alt="Zamora" />
    <area shape="poly" coords="31,82,27,77,31,71,24,55,36,53,47,61,51,58,55,63,67,44,68,45,65,56,65,60,70,66,61,69,61,76,53,82" href="/spareyards?location=Orense" alt="Orense" />
    <area shape="poly" coords="30,67,10,76,9,53,16,45,34,41,36,44,35,53,25,53" href="/spareyards?location=Pontevedra" alt="Pontevedra" />
    <area shape="poly" coords="9,51,2,33,10,23,31,21,29,17,42,8,48,10,38,24,38,37,34,40" href="/spareyards?location=A Coru&ntilde;a" alt="A Coru&ntilde;a" />
    <area shape="poly" coords="35,50,35,40,38,39,38,24,49,11,63,17,59,24,67,30,68,42,55,61,50,57,46,59" href="/spareyards?location=Lugo" alt="Lugo" />
    <area shape="poly" coords="68,42,67,30,59,25,63,16,91,17,100,17,128,24,123,32,95,37,83,36" href="/spareyards?location=Asturias" alt="Asturias" />
    <area shape="poly" coords="125,42,121,35,129,25,148,21,165,26,155,36,146,41,148,45,146,46,138,46,132,37" href="/spareyards?location=Cantabria" alt="Cantabria" />
    <area shape="poly" coords="204,28,214,31,213,37,229,42,226,50,214,62,217,71,210,77,202,76,206,69,186,57,193,42" href="/spareyards?location=Navarra" alt="Navarra" />
    <area shape="poly" coords="157,36,164,26,176,24,185,27,181,39,172,37,170,32" href="/spareyards?location=Vizcaya" alt="Vizcaya" />
    <area shape="poly" coords="193,43,173,37,170,34,161,37,168,37,167,42,163,41,172,52,186,58" href="/spareyards?location=Alava" alt="Alava" />
    <area shape="poly" coords="192,42,183,38,184,27,192,28,203,26,204,29" href="/spareyards?location=Guipuzcoa" alt="Guipuzcoa" />
</map>
