<br/>
<h2>Buscar un desguace:</h2>

<ul>
<% @provinces.each { |province| %>
    <li><a href="/spareyards?location=<%= province.name %>"><%= province.name %></a> (<%= province.count %>)</li>
<% } %>
</ul>
