<br/>
<h2>Buscar un desguace:</h2>

<img style="display: block; margin-left: 100px; margin-top: 40px;" src="/assets/mapa-espanna.png" alt="Mapa españa" width="650" height="594" usemap="#Map" />
<map name="Map" id="Map">
  <area shape="poly" coords="66,62,66,62,45,67,32,72,26,79,21,84,24,89,21,94,18,98,24,98,15,108,19,123,16,123,35,114,46,109,50,101,48,90,58,81,67,76" href="/spareyards?location=Pontevedra" alt="Pontevedra" />
  <area shape="poly" coords="67,80,56,81,50,87,54,95,52,105,52,108,52,126,60,127,69,129,77,125,85,129,92,129,98,132,107,121,119,111,126,99,122,90,110,95,100,91,85,91" href="/spareyards?location=Ourense" alt="Ourense" />
  <area shape="poly" coords="86,1,88,14,77,27,76,46,70,59,70,79,87,88,98,90,110,93,114,89,113,81,123,57,116,52,121,46,113,41,113,16,91,2" href="/spareyards?location=lugo" alt="Lugo" />
  <area shape="poly" coords="82,2,70,1,54,14,57,22,52,25,25,26,15,32,4,36,1,49,6,50,9,59,15,60,11,70,14,75,28,72,36,64,44,63,67,57,73,27,82,16" href="/spareyards?location=A Coruña" alt="A Coruña" />
  <area shape="poly" coords="128,60,116,81,119,89,126,88,129,102,139,106,147,104,155,109,163,108,172,112,183,111,195,121,196,107,209,104,216,105,219,95,221,86,224,79,225,63,231,54,225,41,208,49,196,52,190,51,177,56,157,51,139,63" href="/spareyards?location=León" alt="León" />
  <area shape="poly" coords="115,17,116,38,125,43,119,52,133,59,152,49,176,52,185,48,193,50,202,48,212,41,225,39,235,33,235,29,224,29,217,22,208,24,176,14,168,19,157,16,146,18" href="/spareyards?location=asturias" alt="Asturias" />
  <area shape="poly" coords="126,107,112,120,119,125,122,124,137,130,135,140,153,152,141,165,159,167,166,164,175,167,184,165,195,171,195,159,198,153,192,137,196,123,188,122,180,112,169,113,159,110,154,112,144,107" href="/spareyards?location=zamora" alt="Zamora" />
  <area shape="poly" coords="242,30,229,38,229,52,245,53,263,66,275,64,272,54,291,39,307,33,292,26,286,21,246,30" href="/spareyards?location=cantabria" alt="Cantabria" />
  <area shape="poly" coords="245,54,233,55,225,67,224,77,221,85,222,91,218,98,220,107,222,115,264,133,270,127,263,116,256,106,252,91,250,83,261,69" href="/spareyards?location=palencia" alt="Palencia" />
  <area shape="poly" coords="323,81,318,91,318,113,323,122,334,114,340,120,351,111,362,112,375,119,383,111,368,95,343,91,333,87" href="/spareyards?location=La Rioja" alt="La Rioja" />
  <area shape="poly" coords="369,96" href="#" />
  <area shape="poly" coords="288,182,238,239,261,238,285,249,281,261,295,253,309,253,320,242,310,235,312,228,293,203,297,191" href="/spareyards?location=madrid" alt="Madrid" />
  <area shape="poly" coords="139,169,120,187,120,204,121,215,117,235,127,235,145,223,160,233,172,234,176,227,189,225,185,218,204,200,208,181,197,179,192,174,184,168,175,170,166,166" href="/spareyards?location=Salamanca" alt="Salamanca" />
  <area shape="poly" coords="218,108,200,108,195,117,201,126,196,139,200,153,197,162,198,167,198,176,209,178,216,178,222,181,231,177,244,158,255,158,264,154,268,151,261,133,219,117" href="/spareyards?location=Valladolid" alt="Valladolid" />
  <area shape="rect" coords="520,246,649,343" href="/spareyards?location=Illes Balears" alt="Illes Baleares" />
  <area shape="rect" coords="403,498,504,576" href="/spareyards?location=Santa Cruz de Tenerife" alt="Santa Cruz de Tenerife" />
  <area shape="rect" coords="513,535,543,570" href="/spareyards?location=Las Palmas" alt="Las Palmas" />
  <area shape="rect" coords="577,473,625,557" href="/spareyards?location=Las Palmas" alt="Las Palmas" />
  <area shape="poly" coords="230,179,215,179,209,186,207,200,189,219,189,225,179,229,179,237,191,242,197,248,216,246,224,239,232,240,255,212,244,213,242,203" href="/spareyards?location=Ávila" alt="Ávila" />
  <area shape="poly" coords="294,155,280,156,270,154,261,161,250,159,232,179,245,210,257,208,279,182,305,170" href="/spareyards?location=segovia" alt="Segovia" />
  <area shape="poly" coords="289,43,273,55,279,64,265,71,254,84,255,90,258,105,270,119,272,132,266,135,272,151,282,153,296,153,305,136,306,131,315,128,320,119,316,110,319,80,315,69,307,66,316,59,309,44,297,45" href="/spareyards?location=burgos" alt="Burgos" />
  <area shape="poly" coords="145,226,132,236,114,240,112,264,102,274,79,275,91,299,101,294,105,290,116,298,115,306,133,310,148,318,167,313,173,317,205,295,211,295,200,284,202,275,196,274,196,267,192,266,193,249,189,243,170,237,165,240" href="/spareyards?location=Cáceres" alt="Cáceres" />
  <area shape="poly" coords="229,297,207,299,176,318,148,320,134,313,115,307,107,294,94,303,104,320,86,357,100,378,111,378,121,390,154,391,169,378,179,379,181,358,209,341,228,309" href="/spareyards?location=badajoz" alt="Badajoz" />
  <area shape="poly" coords="225,241,219,248,195,253,195,265,199,268,198,274,206,275,205,284,218,295,236,290,245,292,261,285,261,296,292,303,306,291,323,292,310,256,283,259,280,250,260,241,240,245" href="/spareyards?location=toledo" alt="Toledo" />
  <area shape="poly" coords="259,291,237,293,230,311,220,318,213,340,253,367,270,365,279,365,289,362,298,364,304,359,334,358,337,344,327,331,334,304,322,295,303,295,291,306,258,299" href="/spareyards?location=Ciudad Real" alt="Ciudad Real" />
  <area shape="poly" coords="359,113,342,122,333,117,322,124,309,133,296,154,306,169,327,167,340,171,345,180,369,180,365,159,370,158,370,145,379,142,377,124" href="/spareyards?location=soria" alt="Soria" />
  <area shape="poly" coords="308,170,294,181,301,190,297,202,314,226,315,237,321,242,327,228,341,223,347,218,356,210,379,217,384,224,390,214,395,211,394,193,374,180,363,182,345,180,342,175,327,170" href="/spareyards?location=guadalajara" alt="Guadalajara" />
  <area shape="poly" coords="374,217,359,213,354,219,346,220,343,227,329,228,326,238,313,254,326,290,336,303,356,306,372,300,381,305,401,294,404,276,413,270,418,256,402,248,387,234" href="/spareyards?location=cuenca" alt="Cuenca" />
  <area shape="poly" coords="403,295,384,307,371,305,337,305,329,329,342,344,335,354,345,358,352,374,349,383,361,390,373,372,383,368,392,363,398,369,407,362,402,354,407,341,425,339,430,346,430,325,418,327,418,299" href="/spareyards?location=albacete" alt="Albacete" />
  <area shape="poly" coords="320,45,313,50,318,57,313,63,319,73,338,88,351,88,350,79,356,61,342,57,339,54,327,53" href="/spareyards?location=alava" alt="Álava" />
  <area shape="poly" coords="347,32,320,27,319,35,308,35,295,41,307,43,310,46,320,43,328,50,341,48" href="/spareyards?location=vizcaya" alt="Vizcaya" />
  <area shape="poly" coords="377,29,347,37,344,52,360,58,378,32" href="/spareyards?location=guipuzcoa" alt="Guipuzcoa" />
  <area shape="poly" coords="382,31,358,62,352,81,355,91,369,94,384,108,378,117,394,122,407,117,400,99,410,81,432,58,417,58,406,48,399,47,399,36" href="/spareyards?location=Navarra" alt="Navarra" />
  <area shape="poly" coords="434,60,424,69,430,97,435,95,431,117,447,128,450,137,461,141,473,158,497,151,495,139,508,120,508,111,512,93,504,68,470,71" href="/spareyards?location=Huesca" alt="Huesca" />
  <area shape="poly" coords="422,74,401,98,408,117,397,126,380,122,382,128,385,140,372,147,374,158,368,162,369,177,375,177,396,189,403,182,417,176,422,176,442,172,449,161,482,176,493,170,492,162,495,156,473,158,462,146,448,139,446,128,432,118,428,100" href="/spareyards?location=Zaragoza" alt="Zaragoza" />
  <area shape="poly" coords="487,178,449,166,441,174,424,181,414,178,396,192,395,213,390,218,391,224,386,230,403,241,410,240,426,247,422,252,435,261,435,253,447,244,448,236,459,234,464,216,459,207,474,201,489,200,491,179" href="/spareyards?location=Teruel" alt="Teruel" />
  <area shape="poly" coords="504,58,530,67,544,72,553,67,556,74,553,78,566,81,558,118,547,125,547,137,539,141,516,160,506,155,496,163,496,138,510,122,510,110,516,90" href="/spareyards?location=lleida" alt="Lleida" />
  <area shape="poly" coords="424,340,410,345,404,353,409,361,400,369,391,369,382,373,360,392,376,401,387,426,402,431,407,424,440,416,444,400,433,383,435,371" href="/spareyards?location=Murcia" alt="Murcia" />
  <area shape="poly" coords="435,337,453,340,455,336,480,327,496,335,454,378,447,396,433,382,439,375,434,356" href="/spareyards?location=Alicante" alt="Alicante" />
  <area shape="poly" coords="477,324,469,306,464,300,469,276,464,269,454,274,437,263,422,257,421,250,411,242,407,246,418,253,415,270,405,282,403,291,418,297,420,322,433,325,438,334,454,337,458,332" href="/spareyards?location=valencia" alt="Valencia" />
  <area shape="poly" coords="504,214,489,203,469,203,462,208,466,216,456,237,449,238,450,245,437,257,444,264,452,272,463,265,469,270,494,238" href="/spareyards?location=Castellón" alt="Castellón" />
  <area shape="poly" coords="549,141,536,149,517,162,505,159,497,169,491,176,491,199,506,210,517,211,522,203,518,192,533,178,561,168" href="/spareyards?location=Tarragona" alt="Tarragona" />
  <area shape="poly" coords="566,165,551,140,549,125,562,120,568,92,575,90,577,100,597,105,596,118,615,131,589,152" href="/spareyards?location=Barcelona" alt="Barcelona" />
  <area shape="poly" coords="618,130,600,119,602,106,579,98,579,91,564,86,578,86,588,81,603,82,630,72,641,85,634,93,640,105" href="/spareyards?location=Girona" alt="Girona" />
  <area shape="poly" coords="141,396,118,391,107,382,97,385,73,417,74,438,91,445,97,440,131,467,133,424,125,414,131,407,143,405" href="/spareyards?location=Huelva" alt="Huelva" />
  <area shape="poly" coords="140,467,127,479,143,493,141,499,149,516,155,514,175,525,183,517,192,510,181,491,188,481,192,469,198,470,203,465,188,462,179,468,170,465,149,473" href="/spareyards?location=Cádiz" alt="Cádiz" />
  <area shape="poly" coords="132,466,135,426,127,414,143,407,143,394,156,394,165,380,176,385,191,412,187,419,210,411,213,414,219,440,226,442,212,448,196,462,190,459,177,463,168,464,150,471" href="/spareyards?location=Sevilla" alt="Sevilla" />
  <area shape="poly" coords="251,445,240,448,230,444,218,450,204,463,201,472,192,472,185,488,194,506,208,496,225,496,238,480,279,477,250,459" href="/spareyards?location=Málaga" alt="Málaga" />
  <area shape="poly" coords="210,342,192,358,184,358,184,376,178,384,193,415,207,409,215,415,221,440,228,440,233,445,241,442,253,444,260,434,265,434,252,396,257,383,251,366" href="/spareyards?location=Córdoba" alt="Córdoba" />
  <area shape="poly" coords="255,368,259,385,253,396,258,426,272,433,323,414,346,385,349,373,336,359,303,367,288,365,273,369" href="/spareyards?location=Jaén" alt="Jaén" />
  <area shape="poly" coords="348,388,327,413,277,433,263,437,254,445,254,460,282,478,295,480,320,472,324,456,333,446,342,441,347,426,360,415,361,395" href="/spareyards?location=Granada" alt="Granada" />
  <area shape="poly" coords="373,402,364,401,360,418,347,429,340,445,326,455,320,474,342,480,354,470,371,476,382,454,396,430,385,424" href="/spareyards?location=almeria" alt="Almería" />
</map>
