<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="description" content="Directorio de desguaces y recambios de España"/>
    <meta name="keywords" content="desguaces, recambios, talleres, coches, motos, motor, bujias, retrovisores, eurodesguaces">
	<title>1000 Desguaces: Encuentra todos los desguaces de España</title>

<link rel="stylesheet" href="css/styles.css" />

</head>
<body>

<div class="wrap">
    <div class="title">
        <h1>Recambios Vigo</h1>
        <h3>Directorio de desguaces de Vigo y alrededores</h3>
    </div>

    <div class="snapshot">
        <img src="img/recambios-vigo-2.jpg" alt="Recambios Vigo" />
    </div>

    <div class="content">
        <p><span style="color: #aaa">8 desguaces encontrados</span></p>

        <ul>
            <li>
                <div class="list_item">
                    <span class="title"><a href="">Desguaces Vigototal</a></span>
                </div>
            </li>
            <li>
                <div class="list_item">
                    <span class="title"><a href="">Desguaces Gil</a></span>
                </div>
            </li>
            <li>
                <div class="list_item">
                    <span class="title"><a href="">Desguaces Sofer</a></span>
                </div>
            </li>
            <li>
                <div class="list_item">
                    <span class="title"><a href="">Desguaces Mingos</a></span>
                </div>
            </li>
            <li>
                <div class="list_item">
                    <span class="title"><a href="">Nacional de Recambios</a></span>
                </div>
            </li>
            <li>
                <div class="list_item">
                    <span class="title"><a href="">Std Motor</a></span>
                </div>
            </li>
            <li>
                <div class="list_item">
                    <span class="title"><a href="">Recuperaciones Combar SL.</a></span>
                </div>
            </li>
            <li>
                <div class="list_item">
                    <span class="title"><a href="">Samper SL</a></span>
                </div>
            </li>
            <li>
                <div class="list_item">
                    <span class="title"><a href="">Metalimpex Iberica S.A.</a></span>
                </div>
            </li>
            <li>
                <div class="list_item">
                    <span class="title"><a href="">Samper - Refeinsa Galicia</a></span>
                </div>
            </li>
        </ul>
    </div>

    <div class="footer">
        <div class="left">
            <span>Acerca de nosotros</span>
            <span>Términos y condiciones proba</span>
        </div>
        <div class="right">
            <span><img src="img/twitter-logo-small.png" />twitter.com/brumbrum</span>
            <span><img src="img/fb-logo-small.png" />facebook.com/brumbrum</span>
        </div>
    </div>

</div>

</body>
</html>
